/bcolors.py
/geocoder.py
/geocoder_dialog.py
/layer.py
/metadata.txt
/plugin_ign.py
/plugin_ign_dialog.py
/plugin_ign_dialog_base.ui
/plugin_upload.py
/resources.py
/utils.py
/wms.py
/wmts.py
/__init__.py
